@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.button {
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

.button-brown {
  background-color: #756157;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #615048;
}

.button-brown:active {
  background-color: #756157;
}

.button-blue {
  background-color: #82B3D3;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #68A2CA;
}

.button-blue:active {
  background-color: #82B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.button-green:hover,
.button-green:focus {
  background-color: #6C9E42;
}

.button-green:active {
  background-color: #7DB54F;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-index {
  flex-grow: 1;
}

.header-navigation {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  color: black;
}

.navigation {
  position: relative;
  display: flex;
  width: 1060px;
  justify-content: space-between;
}

.logo-header-navigation {
  position: absolute;
  left: 0;
  top: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 184px;
  list-style: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-item {
  position: relative;
  margin-right: 32px;
}

.navigation-item:last-of-type {
  margin-right: 0;
}

.navigation-item-active::after {
  content: '';
  position: absolute;
  bottom: -1px;

  display: block;
  height: 2px;
  width: 100%;
  background-color: #756257;

}

.navigation-link {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: left;
  text-decoration: none;
}

.navigation-item-search {
  margin-right: 22px;
}

.navigation-item-search .navigation-link {
  width: 18px;
  height: 18px;
  padding: 0;
  background-image: url('../images/search.svg');
  background-repeat: no-repeat;
}

.navigation-item-favorites {
  margin-right: 33px;
}

.navigation-item-favorites .navigation-link {
  position: relative;
  width: 18px;
  height: 17px;
  padding: 0;
  background-image: url('../images/heart.svg');
  background-repeat: no-repeat;
}

.likes-number {
  position: absolute;
  left: 7px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
}

.navigation-link-want {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 34px;
  text-align: center;
}

.welcome {
  height: 485px;
  background-image:
    url("../images/banner-decoration.svg"),
    url("../images/index-background.jpg");
  text-align: center;
  background-color: #394e53;
  background-repeat: no-repeat;
  background-position: bottom, top;
  background-size: auto;
  box-sizing: border-box;
  padding-top: 50px;
}


.advantages-intro {
  padding-top: 69px;
  padding-bottom: 90px;
}

.advantages-intro-title {
  width: 740px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
  text-align: center;
}

.advantages-intro-text {
  padding: 0;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  text-align: center;

}

.advantages-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-advice-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-advice-list .advantages-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-advice-list .advantages-title:after {
  display: none;
}

.advantages-advice-list .advantages-item:nth-of-type(2) .advantages-container {
  background-color: #fff;
}

.advantages-item {
  display: flex;
  min-height: 384px;
}

.advantages-item-open {
  width: 100%;
  color: #ffffff;
}

.advantages-item-open .advantages-title:after {
  background-color: #ffffff;
}

.advantages-image-wrapper {
  width: 800px;
  height: 100%;
}

.advantages-image-wrapper img {
  display: block;
}

.question,
.form-label {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
  text-align: center;
}

.advantages-container {
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-container-picture {
  background-color: #82B3D3;
}

.advantages-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin-top: -10px;
  margin-bottom: 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-title:after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  display: block;
  height: 2px;
  width: 60px;
  margin-left: -30px;
  background-color: #000000;
  opacity: 0.3;
}

.advantages-text  {
  width: 230px;
  text-align: center;
  margin: 0;
  padding: 0;
}


.advantages-icon-food:before,
.advantages-icon-house:before,
.advantages-icon-souvenirs:before {
  content: '';
  display: block;
}

.advantages-icon-food:before {
  width: 74px;
  height: 70px;
  margin-bottom: 30px;
  background-image: url('../images/layers/food.svg');
}

.advantages-icon-house:before {
  width: 75px;
  height: 72px;
  margin-bottom: 31px;
  background-image: url('../images/layers/house.svg');
}

.advantages-icon-souvenirs:before {
  width: 64px;
  height: 76px;
  margin-bottom: 28px;
  background-image: url('../images/layers/souvenirs.svg');
}

.dark-one {
  background-color: rgba(131, 179, 211, 0.2);
}

.search-hotel,
.subscribe {
  text-align: center;
}

.search-hotel {
  padding: 94px 0;
}

.search-hotel-question {
  margin: 0;
  margin-bottom: 20px;
}

.search-hotel-text {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.search-link {
  font-size: 20px;
  line-height: 36px;
  display: inline-block;
  padding: 8px 50px;
  letter-spacing: 0.034px;
}

.subscribe {
  background-image: url("../images/subscribe.png");
  background-color: #394e53;
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscrube-follow {
  margin: 0;
  margin-bottom: 20px;
}

.form-label,
.subscribe-text {
  color: white;
  /*   background-color: #394e53; */
}

.subscribe-text {

  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-input-wrapper {
  display: flex;
  justify-content: center;
}

.subscribe-input-wrapper input {
  border: none;
  width: 452px;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
  color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
}

.subscribe-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0px 4px 4px 0px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  margin: 40px 70px 30px 81px;
}

.socials-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 47.3px;
  height: 40px;
}

.social-item-link svg {
  transition: 0.2s;
  fill: #83B3D3;
}

.social-item-link:hover svg,
.social-item-link:focus svg {
  fill: #68A2CA;
}

.social-item-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}


.contacts-number {
  font-style: normal;
  text-align: center;
  width: 720px;
}

.contacts-phone {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  transition: 0.2s;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.contacts-logo {
  fill: #000000;
  transition: 0.2s;
}

.contacts-logo:hover,
.contacts-logo:focus {
  fill: #756157;
}

.contacts-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

.picture-container {
  background-image: url("../images/filter.png");
  background-color: #394e53;
  background-repeat: no-repeat;
}

.filter-search {
  display: flex;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.product-container {
  width: 340px;
}

.results-container {
  display: flex;
  margin: 50px 70px 60px;
  margin-bottom: 40px;
}

.product-card-image {
  margin: 20px;
}

.pagination {
  display: flex;
  list-style: none;
}


.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
color: #ffffff;
list-style: none;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.filter-button {
  display: block;
  width: 48px;
  height: 48px;
}
