@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}


div {
  width: 1200px;
}

.header-navigation {
  background-color: #ffffff;
  color: black;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
}

.want {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
}

.main-index {
  background-image: url("../images/index-background.jpg");
  text-align: center;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 485px;
}

.advantages-main,
.question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
  text-align: center;
}

.advantages-title,
.advantages-advice-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.picture-title {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
}

.picture-text {
  color: #ffffff;
  background-color: #82B3D3;
}

.search-link {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
}

.page-footer {
  background-image: url("../images/Subscribe.png");
}

.contacts-number {
  font-style: normal;
}
